#back {
    position: relative;
    width: 940px;
    min-height: 100vh;
    background-color: #000000bb;
    margin: 0 auto;
    padding-top: 17px;
    box-shadow: inset 2px 2px 15px 5px black;
}

#back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    z-index: -1;
    background-image: url(imgs/gra.jpg);
    background-size: 940px;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

#back img{
 cursor: pointer;
}

#help, #doacao{
    background-color: rgb(7, 7, 7);
    width: 38vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    opacity: 0.99;
    border-radius: 10px; 
    padding: 0 1%;
    text-align: center;
    box-sizing: border-box;
    display: none;
    border: 2px dashed rgba(255, 255, 255, 0.604);
    background-image: url("https://www.transparenttextures.com/patterns/real-carbon-fibre.png");
}

#doacao img{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


ol, #doacao p{
    color: aliceblue;
    font-size:large;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 1.0;
}

li {
        margin-bottom: 10px; 
}

.pix {
    background-color: #000000;
}

#help button, #doacao button{
    color: white;
    background-color: black ;
    border: 1px solid white;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    
}

body {
    overflow-y: hidden;
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0 auto;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/real-carbon-fibre.png");
}

header {
    background-image: url(imgs/back1.jpg);
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 176px;
    width: 100%;
    box-sizing: border-box;
}

#tela {
    width: auto;
    margin: 30px auto;
    text-align: center;
    font-size: 100px;
    color: white;
    letter-spacing: -1.8px;
    border: 2px solid white;
    border-radius: 4px;
    font-family: 'Permanent Marker', cursive;
    display: inline-block;
    padding: 0 10px;
}

.segundos {
    padding: 6px;
    border: 2px solid white;
    display: inline;
    border-radius: 8px;
}

main {
    text-align: center;
    height: 100%;
    margin-top: 35px;
}

main button {
    font-size: large;
    font-weight: bold;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color: black;
    color: aliceblue;
    border: 2px solid white;
    margin: 0 10px;
    letter-spacing: -0.8px;
    transition: 0.7s; 
}

main button:hover {
    background-color: aliceblue;
    color: black;
    transition: 0.3s;
    border: none; 
}

#proxima{
    margin-bottom: 15px;
}

.btn-seg {
    width: 50px;
    height: 35px;
}

#beat{
    display: block;
    color: aliceblue;
    text-decoration:underline;
    padding-top: 15px;
}

section {
    width: 438px;
    margin: 0 auto;
    border: 2px dashed white;
    text-align: center;
    margin-top: 25px;
}


footer {
    width: 370px;
    height: 115px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    color: aliceblue;
    font-size: small;
}

.frase {
    text-align: center;
    color: aliceblue;
    font-size: small;
}

.help {
    position: absolute;
    margin-left: 79%;
}

.money {
    position: absolute;
    margin-left: 16%;
    width: 60px;
}

@media only screen and (max-width: 768px) {
    #back {
        width: auto;
        margin: 0 auto;
        height: 100%;
        background-color: #00000092;
    }
    #back::before {
        opacity: 0.80;
    }

    #help {
    width: 92vw;
    height: 85vh;
    padding: 30px 30px 0 5px;
    }

    #doacao {
        width: 92vw;
        height: 85vh;
        padding: 20px;
    }

    ol{
    font-size:small;
    }

    #doacao p{
        font-size:large;
    }

    #doacao img{
        width: 50%;
    }

    header {
        width: auto;
        justify-content: center;
        height: 10%;
        background-position: center;
    }
    header img {
        width: 60%;
    }

    main {
        margin-top: 10px;
    }

    main button {
        width: 140px;
        height: 40px;
        font-size: medium;
    }

    #tela {
        font-size: 50px;
        margin: 20px auto;
    }

    .segundos {
        padding: 4px;
        font-size: small;
    }

    section {
        width: auto;
        margin: 1em 1em;
    }

    footer {
        width: 250px;
        height: 95px;
        padding-top: 0;
    }

    .help {
        margin-left: 60%;
        max-width: 100%;
        height: 40px;
        position: relative;
    }

    .money {
        margin-left: 30%;
        width: 40px; 
    }

    iframe { 
        width: auto;
        altura : 160px; 
    }    
}

@media only screen and (min-width: 768px) and (max-width: 1520px) {
    #back {
        width: 100%;
    }

    header {
        justify-content: center;
        background-position: center;
        width: 100%;
    }
    #help, #doacao{
        width: 52vw;
        height: 80vh;
        padding: 20px;
        }
    
        ol, #doacao p{
            font-size:larger;
        }

        #doacao img{
            width: 50%;
        }    
    
}

